
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vue3 Composition</title>
  <script src="https://unpkg.com/vue@next"></script>
</head>
<body>
  <div id="app">
    <component-a></component-a>
    <br>
    <component-a></component-a>
    <br>
    <br>
    <component-b title="ComponentB-1"></component-b>
    <br>
    <component-b title="ComponentB-2"></component-b>
    <br>
    <br>
    <component-c></component-c>
  </div>

  <script type="module" src="./main.js"></script>
</body>
</html>